img.footer-logo {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include for-desktop-up {
        width: 10%;
    }
    @include for-tablet-portrait-up {
        width: 15%;
    }
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  
    ul {
        list-style-type: none;

        li {
            float: left;

            a {
                text-decoration: none;
                padding: 10px 20px;
                display: block;
                text-align: center;
                color: black;
                padding-bottom: 3em;
                }
            }
        } 
}