.sidebar {
    height: 100%;
    position: absolute;
    left: 0;
    top: 27em;
    padding-top: 10px;
   


       h3 {
        color: #5784BA;
        padding-bottom: 1em;
       }

    .filter {
        padding-bottom: 1em;
        display: block;
        padding-top: 0%;
        margin-top: 0%;
        padding-left: 2em;
    }

    button {
        padding-left: 2em;
       
    }
}


 