.main {
    width: 100%;
    @include for-phone-only {
        min-height: 100vh;
    }

    .main_box {
        flex-direction: column;
        margin-left: 5rem;
        @include flexcenter;
        @include for-phone-only {
            justify-content: center;
            align-items: center;
            margin-left: 0;
        }

        .main_h1 {
            color: $color-title;
            font-size: $gutter;
            margin: 2rem;
        }
        .main_post {
            @include flexcenter;
            flex-wrap: wrap;
            width: 100%;
            @include for-phone-only {
                flex-direction: column;
            }
            
            .main_wrapper {
                height: 20rem;
                width: 15rem;
                border: $color-boy solid 0.2px;
                border-radius: 10px;
                box-shadow: 2px 1px 12px rgba($color: #cfcfcf, $alpha: 1.0);
                margin: 2rem;
        
                .main_img {
                    height: 15rem;
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;    
                }
        
                .main_h2 {
                    color: $color-menu;
                    text-align: center;
                    padding-top: 1rem;
                }
        
                p {
                    text-align: right;
                    padding-right: 1rem;
                }
            }
        }
        
    }
    
}